
<div id="blur">

<div id="monsterHealth">
<div class="monsterHealth">
  Health: <%=@monster.health %>
</div>
</div>


<div class="monsterBox">
<div class="monsterSize" style="background-image: url(<%= @monster.image %>)"></div>
</div>


<div id="yourHealth">
  <div class="yourHealth">Health: <%= @current_user.health%></div>
</div>

<div id="yourSpells">
  <div id="slota" data-spell= "n" data-stats= "n" data-eleid="n">add spell</div>
  <div id="slotb" data-spell= "n" data-stats= "n" data-eleid="n">add spell</div>
</div>

<div id="spellStat">
<div class="statAtk">Atk: </div>
<div class="statDmg">Dmg: </div>
<div class="statDef">Def: </div>
<div class="statSpd">Spd: </div>
</div>

<div id="attack">Cast Spells</div>


</div>

<div id="inventory">
  <% @player_spells.each do |spell| %>

  <div class="inventory <%= spell.affinity %>" data-spell="<%= spell.affinity %>" data-spellid= <%= spell.id  %> 
  data-stats= <%= spell.attack.to_s + "," + spell.damage.to_s + "," + spell.defence.to_s + "," + spell.speed.to_s %> >
  <p>Atk: <%= spell.attack %> dmg: <%= spell.damage %> def: <%= spell.defence %> spd: <%= spell.speed %></p></div>
  <% end %>

<!--   <div class="inventory fire" data-spell="fire"><p>Atk: 20 def: 5 dmg: 2 spd: 3</p></div>
  <div class="inventory wind" data-spell="wind"></div>
  <div class="inventory water" data-spell="water"></div>
  <div class="inventory earth"></div>
  <div class="inventory"></div>
  <div class="inventory"></div>
  <div class="inventory"></div>
  <div class="inventory"></div>
  <div class="inventory"></div>
  <div class="inventory"></div> -->
</div>
