
<div id="blur">

<div id="monsterHealth">
<div class="monsterHealth">
  Health: <%=@monster.health %>
</div>
</div>


<div class="monsterBox">
<div class="monsterSize" style="background-image: url(<%= @monster.image %>)"></div>
</div>


<div id="yourHealth">
  <div class="yourHealth">Health: <%= @current_user.health%></div>
</div>

<div id="yourSpells">
  <div id="slota" data-spell= "n" data-stats= "0,0,0,0" data-eleid="n">add spell</div>
  <div id="slotb" data-spell= "n" data-stats= "0,0,0,0" data-eleid="n">add spell</div>
</div>

<div id="spellStat">
<div class="statAtk">Atk: </div>
<div class="statDmg">Dmg: </div>
<div class="statDef">Def: </div>
<div class="statSpd">Spd: </div>
</div>

<!-- <div id="attack">Cast Spells</div> -->

<form id="attackForm" action="/combat" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input id="slotaSend" type="hidden" name="slota" >
  <input id="slotbSend" type="hidden" name="slotb" >
  <input type="hidden" name="monster_id" value="<%= @monster.id %>" >
 
  <button id="attack">Cast Spells!</button>

</form>

</div>



<div id="inventory">
  <% @player_spells.each do |spell| %>

  <div class="inventory <%= spell.affinity %>" data-spell="<%= spell.affinity %>" data-spellid= <%= spell.id  %> 
  data-stats= <%= spell.attack.to_s + "," + spell.damage.to_s + "," + spell.defence.to_s + "," + spell.speed.to_s %> >
  <p>Atk: <%= spell.attack %> dmg: <%= spell.damage %> def: <%= spell.defence %> spd: <%= spell.speed %></p></div>
  <% end %>


</div>

<div id="projectile"></div>
</div>





