<div class="ogreAttackWindow">
<div class="ogreStats">
<h2> <%= @monster.name %></h2>

<p>Attack: <%= @monster.attack %></p>
<p>damage: <%= @monster.damage %></p>
<p>defence: <%= @monster.defence %></p>
<p>Level: <%= @monster.level %></p>
<p>Rank: <%= @monster.rank %></p>
<p>affinity: <%= @monster.affinity %></p>


<%= link_to 'Edit', edit_monster_path(@monster) %>
<%= link_to 'Delete', @monster, :method => 'delete', :data => {:confirm => "Are you sure"} %>

</div>

</div>