<!DOCTYPE html>
<html>
<head>
  <title>DragonTurf</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7wG1u31CpobRF3gqIpQPQGWVtWPZu8d8">
    </script>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">

<nav>
  <ul>
    <li><%= link_to('Home', root_path ) %></li>

    <%== intellinav  %>

  </ul>
</nav>

<% if flash[:notice].present? %>
  <h2> <%= flash[:notice] %></h2>
<% end %>



<%= yield %>

</div>

</body>
</html>
